<?xml version="1.0" encoding="UTF-8"?>
<web-app  
        version="3.0"  
        xmlns="http://java.sun.com/xml/ns/javaee"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">  
	<context-param>
		<param-name>scanpackage</param-name>
		<param-value>com</param-value>
	</context-param>
	<listener>
		<listener-class>com.renymvc.support.ContextLoader</listener-class>
	</listener>
	<servlet>
		<servlet-name>core</servlet-name>
		<servlet-class>com.renymvc.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>viewprefix</param-name>
			<param-value>/WEB-INF/jsp/</param-value>
		</init-param>
		<init-param>
			<param-name>viewsuffix</param-name>
			<param-value>.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>core</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>*.css</url-pattern>
	</servlet-mapping>
</web-app>
